<div class="row" style="margin: 30px;">
    <div class="col-md-7">
        <div class="jumbotron" style="height: 100%; background-color: #d1d1d1;">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to featured content or information.</p>
            <hr class="my-4">
            <p class="lead">It uses utility classes for typography and spacing to space content out within the larger
                container.</p>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card" style="width: 100%;">
            <div id="pieContainer"></div>
            <div class="card-body">
                <h5 class="card-title">Pie Chart</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
</div>
<hr>

<!-- Environment - Row 1 -->

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
            to featured content or information.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <div *ngIf="environmentFetched" class="card" style="width: 100%; background-color: #d1d1d1;">
            <agm-map [latitude]="defaultCenter.lat" [longitude]="defaultCenter.lng"
                style="height: 500px; margin: 20px 20px 0px 20px;" [mapTypeId]='mapType' [zoom]="10"
                [scrollwheel]="null">
                <agm-marker *ngFor="let marker of markers.environment" [latitude]="marker.lat" [longitude]="marker.lng"
                    [opacity]="marker.alpha" [markerDraggable]="true">
                </agm-marker>
            </agm-map>
            <div class="card-body">
                <h5 class="card-title">Environment Map</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<!-- Environment - Row 2 -->

<div class="row">
    <div class="col-md-6">
        <img src="../../../assets/Medicare.png" style="width: 100%;">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div id="aurinMedicareColumn"></div>
    </div>
    <div class="col-md-1"></div>
</div>

<!-- Accidents - Row 1 -->

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
            to featured content or information.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <div *ngIf="accidentFetched" class="card" style="width: 100%; background-color: #d1d1d1;">
            <agm-map [latitude]="defaultCenter.lat" [longitude]="defaultCenter.lng"
                style="height: 500px; margin: 20px 20px 0px 20px;" [mapTypeId]='mapType' [zoom]="10"
                [scrollwheel]="null">
                <agm-marker *ngFor="let marker of markers.accident" [latitude]="marker.lat" [longitude]="marker.lng"
                    [opacity]="marker.alpha" [markerDraggable]="true">
                </agm-marker>
            </agm-map>
            <div class="card-body">
                <h5 class="card-title">Accident Map</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<!-- Accidents - Row 2 -->

<div class="row">
    <div class="col-md-6">
        <img src="../../../assets/Crashes.png" style="width: 100%;">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <img src="../../../assets/AccidentsGraph.PNG" style="width: 100%;">
    </div>
    <div class="col-md-1"></div>
</div>

<!-- Accidents - Row 3 -->

<div class="row">
    <div class="col-md-6">
        <img src="../../../assets/Traffic.PNG" style="width: 100%;">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <img src="../../../assets/TrafficGraph.PNG" style="width: 100%;">
    </div>
    <div class="col-md-1"></div>
</div>

<!-- Pollution - Row 1 -->

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
            to featured content or information.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <div *ngIf="pollutionFetched" class="card" style="width: 100%; background-color: #d1d1d1;">
            <agm-map [latitude]="defaultCenter.lat" [longitude]="defaultCenter.lng"
                style="height: 500px; margin: 20px 20px 0px 20px;" [mapTypeId]='mapType' [zoom]="10"
                [scrollwheel]="null">
                <agm-marker *ngFor="let marker of markers.pollution" [latitude]="marker.lat" [longitude]="marker.lng"
                    [opacity]="marker.alpha" [markerDraggable]="true">
                </agm-marker>
            </agm-map>
            <div class="card-body">
                <h5 class="card-title">Pollution Map</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<!-- Pollution - Row 2 -->

<div class="row">
    <div class="col-md-6">
        <img src="../../../assets/Pollution.png" style="width: 100%;">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <img src="../../../assets/PollutionGraph.PNG" style="width: 100%;">
    </div>
    <div class="col-md-1"></div>
</div>

<!-- Lavishness - Row 1 -->

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
            to featured content or information.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <div *ngIf="lavishFetched" class="card" style="width: 100%; background-color: #d1d1d1;">
            <agm-map [latitude]="defaultCenter.lat" [longitude]="defaultCenter.lng"
                style="height: 500px; margin: 20px 20px 0px 20px;" [mapTypeId]='mapType' [zoom]="10"
                [scrollwheel]="null">
                <agm-marker *ngFor="let marker of markers.lavish" [latitude]="marker.lat" [longitude]="marker.lng"
                    [opacity]="marker.alpha" [markerDraggable]="true">
                </agm-marker>
            </agm-map>
            <div class="card-body">
                <h5 class="card-title">Lavishness Map</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<!-- Lavishness - Row 2 -->

<div class="row">
    <div class="col-md-6">
        <img src="../../../assets/Income.png" style="width: 100%;">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <img src="../../../assets/LavishGraph.PNG" style="width: 100%;">
    </div>
    <div class="col-md-1"></div>
</div>