<div class="btn-class">
    <button class="btn btn-primary" (click)="getTweets(0)">Get Tweet data</button>
</div>
<hr>

<div class="card text-center m-3" *ngIf="displayTweets.length">
    <div class="card-body">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th>Text</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of displayTweets; let i = index">
                    <td>{{i}}</td>
                    <td>{{item.value.text}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer pb-0 pt-3">
        <ul class="pagination">
            <li class="page-item first-item">
                <a class="page-link">First</a>
            </li>
            <li class="page-item previous-item" style="cursor: pointer;" (click)="getPreviousTweets()">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item next-item" style="cursor: pointer;" (click)="getNextTweets()">
                <a class="page-link">Next</a>
            </li>
            <li class="page-item last-item">
                <a class="page-link">Last</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-4" id="scatterContainer"></div>
    <div class="col-md-4" id="barContainer"></div>
    <div class="col-md-4" id="pieContainer"></div>
</div>
<hr>

<!-- to show just a single lat and long coordinate -->
<!-- <agm-map style="height: 1000px" [latitude]='latitude' [longitude]='longitude'
    [mapTypeId]='mapType' [zoom]="2" (mapClick)="addMarker($event.coords.lat, $event.coords.lng)"></agm-map> -->

<agm-map style="height: 1000px" [mapTypeId]='mapType' [zoom]="2" (mapClick)="addMarker($event.coords.lat, $event.coords.lng)">
    <agm-marker
    *ngFor="let marker of markers"
    [latitude]="marker.lat"
    [longitude]="marker.lng"
    [opacity]="marker.alpha"
    [markerDraggable]="true"
    (markerClick)="selectMarker($event)"
    >
    </agm-marker>
    <!-- <agm-rectangle
    [north]="max('lat')"
    [east]="max('lng')"
    [south]="min('lat')"
    [west]="min('lng')"
    >
    </agm-rectangle> -->
</agm-map>
<p *ngIf="selectedMarker">
    Lat: {{ selectedMarker.lat }} Lng: {{ selectedMarker.lng }}
</p>